<!-- BOARDS -->
<div id="abilities" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <div fxLayout="row" fxLayoutAlign="start center">
            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button (click)="back()" matTooltip="Back" matTooltipPosition="above"
                    class="text-right">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Abilities for {{skill ? skill.skill_name : ''}}
                </span>
            </div>

        </div>
        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper custom-search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input placeholder="Search" (keyup.enter)="onEnterSearch($event)"
                        [(ngModel)]="searchText">
                </div>
            </div>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->
    <div class="mt-16" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
        [@animateStagger]="{value:'50'}">
        <mat-chip-list aria-label="Fish selection">
            <mat-chip *ngFor="let searchkey of searchTextArray" removable="true" (removed)="removeKeys(searchkey)"
                (click)="clickSearchKey(searchkey)">
                {{searchkey}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
    <mat-list class="w-90-p text-center">
        <mat-list-item>
            Abilities({{abilities ? abilities.length : 0}})
        </mat-list-item>
        <mat-divider class="w-100-p"></mat-divider>
    </mat-list>
    <!-- Ability LIST -->
    <div class="ability-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
        [@animateStagger]="{value:'50'}">

        <!-- BOARD -->
        <div *ngFor="let ability of abilities">
            <div class="ability-list-item custom-ability-listitem" fxLayout="column" fxLayoutAlign="center center"
                [@animate]="{value:'*',params:{y:'100%'}}">
                <!-- <img class="ng-tns-c113-324" src="assets/images/cards/card1.jpg"> -->
                <img *ngIf="ability.ability_image" [src]="ability.ability_image"
                    class="transition mb-2 custom-ability-img" (click)="viewDetails(ability)">
                <img *ngIf="!ability.ability_image" src="assets/none.jpg"
                    class="transition mb-2 custom-ability-img" (click)="viewDetails(ability)">
                <button *ngIf="currentUser.user_id == ability.ability_userid" mat-mini-fab color="warn"
                    class="edit-ability-button" (click)="editAbility(ability)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <mat-card-actions fxLayoutAlign="left" class="secondary-text-color" fxLayoutAlign="center" class="p-2">
                <mat-chip-list class="scrolling-wrapper">
                    <mat-chip *ngFor="let tag of ability.ability_tags" [removable]="removable" fxLayout="column"
                        (click)="onClickTag(tag)">
                        {{tag}}
                    </mat-chip>
                </mat-chip-list>
            </mat-card-actions>
        </div>
        <!-- / BOARD -->
        <div>
            <div class="ability-list-item add-new-ability" fxLayout="column" fxLayoutAlign="center center"
                (click)="newAbility()" [@animate]="{value:'*',params:{y:'100%'}}">
                <mat-icon class="s-56">add_circle</mat-icon>
            </div>

            <mat-chip-list>
                <mat-chip selected class="custom-matchip-center" (click)="newAbility()">
                    <div class="board-name">
                        Add New Ability {{emptyAbility.ability_name ? 'called ' + emptyAbility.ability_name : ''}}
                    </div>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <!-- / Ability LIST -->

</div>
<!-- / BOARDS -->